:root {
	--primary-color: hsl(0, 100%, 98%);
	--secondary-color: hsla(0, 56%, 69%, 0.423);
}

body {
	background-color: var(--primary-color);
	font-family: Josefin Sans;
	display: flex;
	flex-direction: column; /* Ensure flex container stacks its children vertically */
	margin: 0;
	min-height: 100vh; /* Set minimum height to the viewport height */
}

.row {
	display: flex;
	flex-direction: row;
}

.text-column {
	padding: 5rem 7rem 12rem 10rem;
}

header {
	font-size: 50px;
	margin: 5rem 0 0 0;
	font-weight: 500;
}

h1,
h2 {
	padding: 0;
	margin: 0;
	font-weight: lighter;
	letter-spacing: 1rem;
}

h1 {
	color: var(--secondary-color);
}

h2 {
	font-weight: 400;
}

p {
	color: var(--secondary-color);
}
.intro-paragraph {
	padding-right: 80px;
	line-height: 1.5;
}
.col-6 {
	width: 50%;
	box-sizing: border-box; /* This ensures padding and border are included in the total width */
}

form {
	padding: 10px;
}

.email-input {
	padding: 15px 200px 15px 15px;
	border-radius: 40px;
	color: var(--secondary-color);
	border-color: var(--secondary-color);
	opacity: 0.7;
}

footer {
	background-color: var(--primary-color);
	text-align: center;
	position: fixed;
	bottom: -12px;
	width: 100%;
	margin: 0;
	margin-bottom: 5px;
}

footer a {
	color: var(--secondary-color);
	text-decoration: none;
}

footer a:hover {
	font-weight: bold;
	text-decoration: underline;
}

/* Add media queries for responsiveness if needed */
@media (max-width: 768px) {
	.row {
		flex-direction: column-reverse;
	}
	.col-6 {
		width: 100%; /* Make columns stack on top of each other for smaller screens */
	}
}
